<h1>Components</h1>

<%= link_to 'New Component', new_component_path %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Size</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= link_to (image_tag component.image_url), component_path(component) %></td>
        <td><%= link_to component.name, component_path(component) %> (<%= component.manufacturer %>)</td>
        <td><%= display_size(component) %></td>
        <td><%= link_to 'Purchase', component.purchase_url, target: '_blank' %></td>
        <td><%= link_to 'Show', component %></td>
        <td><%= link_to 'Edit', edit_component_path(component) %></td>
        <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

