<h1><%= @component.name %></h1>

<div class="row">
  <div class="col-6">
    <%= image_tag @component.image_url %>
  </div> <!-- col-6 -->
  <div class="col-6">
    <p><strong>Dimensions:</strong>  <%= @component.height_in %>" x <%= @component.width_in %>"</p>
  </div> <!-- col-6 -->
</div> <!-- row -->

<p class="text-right"><%= link_to '+ New Price', new_price_path %></p>
<h3>Prices by Manufacturer</h3>
<h4>
  <%= link_to @component.manufacturer, @component.purchase_url, target: "_blank" %> 
  (<%= link_to "Purchase here", @component.purchase_url, target: "_blank" %>)
</h4>
<table class="table">
  <tr>
    <th>Qty</th>
    <th>Price Ea.</th>
    <th>Shipping Ea.</th>
    <th>Total Cost Ea.</th>
    <th>Cost for Qty</th>
  </tr>
  <% @component.prices.order('qty').each do |price| %>
  <tr>
    <td><%= price.qty %></td>
    <td><%= display_currency(price.cost_each) %></td>
    <td><%= display_currency(price.shipping_each) %></td>
    <td><%= display_currency(price.total_cost) %></td>
    <td><%= display_currency(price.cost_for_qty) %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
