<%= form_for(global_msrp) do |f| %>
  <% if global_msrp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(global_msrp.errors.count, "error") %> prohibited this global_msrp from being saved:</h2>

      <ul>
      <% global_msrp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
