<%= form_for(price) do |f| %>
  <% if price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :component_id %>
    <%= f.grouped_collection_select :component_id, Manufacturer.includes(:components).order('id'), :components, :name, :id, :name, prompt: "-- Select a Component --", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :qty %>
    <%= f.number_field :qty, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :cost_each %>
    <%= f.text_field :cost_each, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :shipping_each %>
    <%= f.text_field :shipping_each, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
