
<%= image_tag @price.component.image_url %>

<p>
  <strong>Component:</strong>
  <%= display_component(@price.component) %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @price.qty %>
</p>

<p>
  <strong>Cost each:</strong>
  <%= display_currency(@price.cost_each) %>
</p>

<p>
  <strong>Shipping each:</strong>
  <%= display_currency(@price.shipping_each) %>
</p>

<p>
  <strong>Cost for this Qty:</strong>
  <%= display_currency(@price.cost_for_qty) %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %> |
<%= link_to 'New Price', new_price_path %>
