<h1>Products</h1>

<%= link_to 'New Product', new_product_path %>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>MSRP</th>
      <th>Qty</th>
      <th>Cost Ea.</th>
      <th>Profit Ea.</th>
      <th>Total Profit</th>
    </tr>
  </thead>

  <tbody>
    <% @products.order('qty DESC').each do |product| %>
      <tr>
        <td>
          <strong><%= link_to product.name, product_path(product) %></strong>
          <% product.components.each do |component| %>
            <li><%= display_component(component) %></li>
          <% end %>
        </td>
        <td><%= product.msrp %></td>
        <td><%= product.qty %></td>
        <td><%= display_currency(product.unit_cost) %></td>
        <td><%= display_currency(product.unit_profit) %></td>
        <td><%= display_currency(product.total_profit) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
